<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D365BCWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <D365BCWebServiceClient.Properties.Settings>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingUnitsOfMeasure_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingUnitsOfMeasure?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_purchaseDocumentLines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/purchaseDocumentLines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingPaymentTerms_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingPaymentTerms?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_InvoiceDocument_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/InvoiceDocument?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingCustomers_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingCustomers?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSyncServicesSetting_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSyncServicesSetting?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateBalanceSheet_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateBalanceSheet?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Job_Planning_Lines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Job_Planning_Lines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSalesInvoices_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSalesInvoices?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Job_Profitability_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Job_Profitability?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowItems_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowItems?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingPaymentMethods_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingPaymentMethods?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Customer_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Customer?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_SystemService" serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/SystemService?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_AccountantPortalUserTasks_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/AccountantPortalUserTasks?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowGenJournalLines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowGenJournalLines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_salesDocuments_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/salesDocuments?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Piano_dei_conti_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Piano_dei_conti?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingAttachments_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingAttachments?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_UserTaskSetComplete_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/UserTaskSetComplete?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingEmailPreview_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingEmailPreview?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowSalesDocumentLines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowSalesDocumentLines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingLanguages_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingLanguages?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateCashFlowStatement_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateCashFlowStatement?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Job_Task_Lines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Job_Task_Lines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSalesInvoiceOverview_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSalesInvoiceOverview?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_WorkDate_Calc__Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_WorkDate_Calc?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingTaxRates_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingTaxRates?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExchangeServiceSetup"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Codeunit/ExchangeServiceSetup?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Sales_Pipeline_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Sales_Pipeline?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateAgedAccountsPayable_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateAgedAccountsPayable?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_AccountantPortalFinanceCues_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/AccountantPortalFinanceCues?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_purchaseDocuments_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/purchaseDocuments?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowPurchaseDocumentLines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowPurchaseDocumentLines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_AccountantPortalActivityCues_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/AccountantPortalActivityCues?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowWebhookSubscriptions_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowWebhookSubscriptions?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_C2Graph_Service" serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/C2Graph?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Aged_Inventory_Chart_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Aged_Inventory_Chart?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_CompanySetupService"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Codeunit/CompanySetupService?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_WorkflowActionResponse"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Codeunit/WorkflowActionResponse?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowCustomers_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowCustomers?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingKPIs_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingKPIs?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingVATSetup_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingVATSetup?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateRetainedEarnings_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateRetainedEarnings?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingItems_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingItems?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_powerbifinance_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/powerbifinance?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_EncryptedKeyValue"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Codeunit/EncryptedKeyValue?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowPurchaseDocuments_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowPurchaseDocuments?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_InvoiceReminder_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/InvoiceReminder?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSMTPMailSetup_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSMTPMailSetup?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Aged_Acc__Payable_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Aged_Acc_Payable?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingTaxAreas_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingTaxAreas?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingPDFs_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingPDFs?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingCountryRegion_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingCountryRegion?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingQBOSyncAuth_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingQBOSyncAuth?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingTestMail_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingTestMail?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Report_Labels_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Report_Labels?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowSalesDocuments_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowSalesDocuments?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingContacts_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingContacts?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingTaxGroups_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingTaxGroups?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Top_5_Opportunities_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Top_5_Opportunities?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_salesDocumentLines_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/salesDocumentLines?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingGeneralSettings_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingGeneralSettings?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSalesQuotes_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSalesQuotes?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateViewCompanyInformation_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateViewCompanyInformation?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingEmailSetting_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingEmailSetting?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingExportInvoices_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingExportInvoices?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowGenJournalBatches_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowGenJournalBatches?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Job_Act__v__Budg__Price_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Job_Act_v_Budg_Price?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_workflowVendors_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/workflowVendors?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateIncomeStatement_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateIncomeStatement?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateTrialBalance_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateTrialBalance?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_ExcelTemplateAgedAccountsReceivable_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/ExcelTemplateAgedAccountsReceivable?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Aged_Acc__Receivable_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Aged_Acc_Receivable?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_nativeInvoicingSalesTaxSetup_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/nativeInvoicingSalesTaxSetup?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_BCWS_Power_BI_Job_Act__v__Budg__Cost_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Power_BI_Job_Act_v_Budg_Cost?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
            <setting name="D365BCWebServiceClient_D365BCWS_Customer_Service"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/194e87bd-73c6-43c6-95d7-1ca48985db5e/WS/CRONUS%20IT/Page/Customer?tenant=msweua6461t47719790&amp;aid=FIN</value>
            </setting>
        </D365BCWebServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>